
Project1/.vs/*.*
Project1/.vs/Project1/v16/Browse.VC.db
Project1/.vs/Project1/v16/Browse.VC.db-shm
Project1/.vs/Project1/v16/Browse.VC.db-wal
Project1/.vs/Project1/v16/Browse.VC.opendb
Project1/.vs/Project1/v16/ipch/AutoPCH/a7d617e0bec87211/SOURCE.ipch
